custom/modules/Connectors/connectors/sources

.htaccess
/Ext
/*.php
LICENSE
/ModuleInstall
*.log
SugarCRM_Basic_Development_Rules
/api
/bin
/cache
/clients
composer.lock
*.html
*.xml
/data
/dist
/etc
/examples
/features
*.md5
/include
/install
/jssource
/metadata
/mobile
/modules
/portal2
*.txt
/service
/sidecar
/soap
/src
/styleguide
*.sql
sugar_version.json
/themes
/upgrade
/upgrades
/upload
/vendor
*.lock
.vscode/
-restore/
*Mapping.php
*.sh
*.bak

!/custom
custom/application/Ext/*/*.ext.php
custom/blowfish/*.php
custom/Extension/application/Ext/*/*.php
custom/Extension/modules/*/Ext/*/*.ext.php
custom/Extension/modules/*/Ext/clients/base/layouts/subpanels/*.php
custom/Extension/modules/Administration/Ext/Administration/ops_modules.php
custom/Extension/modules/Administration/Ext/Language/en_us.ops-modules.php
custom/Extension/modules/*/*/Ext/Vardefs/rli_link_workflow.php
custom/Extension/modules/*/Ext/clients/base/views/config-worksheet-columns/*.ext.php
custom/Extension/modules/*/Ext/Language/*.php
!/custom/Extension/modules/*/Ext/Language/en_us*.php
custom/Extension/modules/*/Ext/Language/en_us.lang.php
custom/Extension/modules/*/Ext/Language/en_us.ops-modules.php
custom/Extension/modules/*/Ext/Layoutdefs/*.php
custom/Extension/modules/*/Ext/ScheduledTasks/ops_backups_fetch_exports.php
custom/Extension/modules/*/Ext/Vardefs/rli_link_workflow.php
!/custom/Extension/application/Ext/Language/es_LA*.php
!/custom/Extension/modules/*/Ext/Language/es_LA*.php
!/custom/Extension/application/Ext/JSGroupings/*.php
!/tests
!repair.php
custom/history/modules
custom/modules/*/Ext/*/*.ext.php
custom/modules/*/Ext/clients/base/layouts/subpanels/*.ext.php
custom/modules/*/Ext/clients/base/views/*/*.ext.php
custom/modules/*/*/Ext/Vardefs/*.ext.php
custom/modules/Connectors/metadata/*.php
custom/modules/ForecastWorksheets
custom/modules/*/metadata/studio.php
custom/modules/*/metadata/SearchFields.php
tests/unit-php/.phpunit.result.cache
custom/working
custom/modulebuilder
custom/themes
!/custom/themes/custom.less
custom/modules/*/Ext/clients/mobile/layouts/subpanels/*.ext.php
custom/modules/*/logic_hooks.php

custom/Extension/application/Ext/Language/es_LAorderMapping.php
custom/Extension/modules/*/Ext/*/orderMapping.php
custom/Extension/modules/*/Ext/*/en_usorderMapping.php
custom/Extension/modules/*/Ext/*/es_LAorderMapping.php
custom/modules/Connectors/connectors/sources/ext/*/*/mapping.php
custom/modules/Connectors/connectors/sources/ext/*/*/config.php

custom/modules/*/metadata/*.php.suback.php